
div.show_inner_log{
  display:flex !important;
}

div.seq_dia_event_inner_node{
  background-color:black;
  background-clip:content-box;
  position:absolute;
  opacity:0.06;
}

div.seq_dia_event_inner_node_continued{
  width:290px;
  height:10px;
  padding-left:90px;
}

div.seq_dia_event_inner_node_last{
  width:110px;
  height:10px;
  padding-left:90px;
}
